<div class="courseint mt-4 ppage">
  <div class="container"  style="max-width: 835px; transition: margin 200ms;">
    <div class="col contact-form pt-3 pb-3 pl-4 pr-4">
      <div class="card mb-4">
        <div class="card-body">
          <div class="text-center">
            <h2>Boleto Gerado com Sucesso</h2>
          </div>
          <p>
            Olá <b class="_font-weight-bold"><%= user.name %></b>, 
            <span>
              sua compra foi registrada e aqui está o seu Boleto para ser pago. Você deve pagar o boleto em qualquer agência bancária, casa lotérica, ou através do seu internet banking até o dia <%= payment.billet_expiry_date.strftime("%d/%m/%Y") %>. 
            </span>
          </p>
          <div class="mb-3 text-center">
            <input type="text" name="texto" id="texto" class="form-control text-center" value="<%= payment.billet_line %>" style="width: 100%" readonly/>
            <img src="<%= payment.billet_barcode %>"  alt="barcode" class="mt-3"/>
          </div>
          <div class="mt-3 mb-3" style="display: flex; justify-content: space-between;">
            <a id="viewBillet" target="_blank" class="btn btn-outline-primary" style="width: 45%" href="<%= payment.billet_pdf %>">
              <span>Visualizar boleto</span>
            </a>
            <button type="button" class="btn btn-primary" style="width: 45%" onclick="copiarTexto()">
              Copiar Código
            </button>
          </div>
          <div class="toast-container position-fixed top-0 end-0 p-3">
            <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
              <div class="toast-header">
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
              </div>
              <div class="toast-body">
                Coiado com Sucesso
              </div>
            </div>
          </div>
          <!---->
          <p class="_bg-yellow-lightest _border _border-yellow-lighter _rounded _text-yellow-darker _p-4">
            A compensação do pagamento pode levar até 3 dias úteis após o pagamento.
          </p>
          <p>Caso já tenha se passado mais de 72h que você efetuou o pagamento e ainda não recebeu seus dados de acesso, por gentileza, entre em contato com o vendedor para que ele possa verificar esta situação.</p>
          <p class="_mb-0">
            Em alguns casos o serviço de email utilizado por você pode se enganar e colocar uma de nossas mensagens no SPAM. Por isto, pedimos que sempre verifique também a sua caixa de SPAM, pois quando seu pagamento for aprovado seus dados de acesso ao produto podem cair lá!
          </p>
          <p>Se precisa de suporte relacionado à sua compra, entre em contato com a pessoa responsável pela venda.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  let tempo;
  let intervalTime;

  window.onload = function () {
    let duration = 60 * 15; // Converter para segundos
    display = document.querySelector('#timer'); // selecionando o timer
    startTimer(duration, display); // iniciando o timer
    verificaPagamento()
  };

  function startTimer(duration, display) {
    var timer = duration, minutes, seconds;

    setInterval(() => {
      minutes = parseInt(timer / 60, 10);
      seconds = parseInt(timer % 60, 10);
      minutes = minutes < 10 ? "0" + minutes : minutes;
      seconds = seconds < 10 ? "0" + seconds : seconds;
      display.textContent = minutes + ":" + seconds;
      if (--timer < 0) {
          timer = duration;
      }else if(timer == 0){
        window.location.assign(`/`);
      }
    }, 1000);
  }


  function verificaPagamento(){
    const code = "<%= payment.code %>"
    clearInterval(intervalTime)

    intervalTime = setInterval(async () => {
      let res = await fetch(`/payments/1.json?code=${code}`, {
        method: 'GET',
        headers: { 'Content-type': 'application/json; charset=UTF-8' }
      })

      const payment = JSON.parse(await res.text());
      if(payment.status == 'paid'){
        window.location.assign(`/payments/thanks/${code}`);
      }
    }, 15000)
  }


  function copiarTexto() {
    let textoCopiado = document.getElementById("texto");
    textoCopiado.select();
    textoCopiado.setSelectionRange(0, 99999)
    document.execCommand("copy");
  }

  const toastTrigger = document.getElementById('liveToastBtn')
  const toastLiveExample = document.getElementById('liveToast')
  if (toastTrigger) {
    toastTrigger.addEventListener('click', () => {
      const toast = new bootstrap.Toast(toastLiveExample)
      toast.show()
    })
  }
</script>
