<div class="tab-pane fade show active" id="pills-card" role="tabpanel" aria-labelledby="pills-card-tab">
  <div class="checkout-form cardForm">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input type="tel" class="form-control" name="number" id="cnumber" placeholder="Número do Cartão">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="name" id="cname" placeholder="Nome Completo">
        </div>
        <div class="form-group">
          <input type="tel" class="form-control" name="expiry" id="cexpiry" placeholder="Vencimento">
        </div>
        <div class="form-group">
          <input type="number" class="form-control" name="cvc" id="ccvc" placeholder="CVC" maxlength="15">
        </div>
      </div>
      <div class="col-md-6">
        <div class="card-wrapper"></div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <select class="form-control" id="installment" data-action="change->payment#setInstallment">
            <% @all_installments.each do |installment| %>
              <% if installment[:key] < 7 %>
                <option value="<%= installment[:key] %>" data-js-installment-value="<%= installment[:value] %>">
                  <%= "#{installment[:key]} x de #{number_to_currency(installment[:value])}" %>
                </option>
              <% else %>
                <option value="<%= installment[:key] %>" data-js-installment-value="<%= installment[:value] %>">
                  <%= "#{installment[:key]} x de #{number_to_currency(installment[:value])}*" %>
                </option>
              <% end %>
            <% end %>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="tab-pane fade" id="pills-billet" role="tabpanel" aria-labelledby="pills-billet-tab">
  <div class="row">
    <div class="col-md-4 mt-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pague até a data de vencimento</h5>
          <p class="card-text">Faça o pagamento até a data de vencimento e garanta seu acesso ao produto.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Aguarde a aprovação do pagamento</h5>
          <p class="card-text">Pagamentos com boleto levam até 3 dias úteis para serem compensados.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pague com Pix e tenha acesso imediato ao produto</h5>
          <p class="card-text">O pagamento leva apenas alguns segundos para ser processado. Pague com Pix clicando aqui.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="tab-pane fade" id="pills-pix" role="tabpanel" aria-labelledby="pills-pix-tab">
  <div class="row">
    <div class="col-md-6 mt-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pague até a data de vencimento</h5>
          <p class="card-text">Faça o pagamento até a data de vencimento e garanta seu acesso ao produto.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Aguarde a aprovação do pagamento</h5>
          <p class="card-text">Pagamentos com boleto levam até 3 dias úteis para serem compensados.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pague com Pix e tenha acesso imediato ao produto</h5>
          <p class="card-text">O pagamento leva apenas alguns segundos para ser processado. Pague com Pix clicando aqui.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pague com Pix e tenha acesso imediato ao produto</h5>
          <p class="card-text">O pagamento leva apenas alguns segundos para ser processado. Pague com Pix clicando aqui.</p>
        </div>
      </div>
    </div>
  </div>
</div>
