<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>RP Concursos | Cursos Online para Concursos Públicos</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- SEO Básico -->
    <meta name="description" content="RP Concursos - Cursos online preparatórios para concursos públicos. Mais de 40 mil alunos aprovados. Maior referência nacional em Informática e TI. Metodologia focada em desempenho real, estratégia e aprovação.">
    <meta name="keywords" content="concursos públicos, cursos online, preparatório para concursos, RP Concursos, Rani Passos, aprovação em concursos, estudo para concursos, informática para concursos, TI para concursos, Polícia Federal, mentorias">
    <meta name="author" content="RP Concursos">
    <meta name="robots" content="index, follow">
    <meta name="language" content="pt-BR">
    <meta name="revisit-after" content="7 days">
    <meta name="rating" content="general">
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="RP Concursos - Cursos Online para Concursos Públicos">
    <meta property="og:description" content="Mais de 40 mil alunos aprovados. Maior referência nacional em Informática e TI. Metodologia focada em desempenho real, estratégia e aprovação. Cursos online preparatórios para concursos públicos.">
    <meta property="og:url" content="https://www.ranipassos.com.br">
    <meta property="og:site_name" content="RP Concursos">
    <meta property="og:locale" content="pt_BR">
    <meta property="og:image" content="https://www.ranipassos.com.br/site/assets/professores/ranipassos/img/og-image.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:image:alt" content="RP Concursos - Cursos Online para Concursos Públicos">
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ranipassos">
    <meta name="twitter:creator" content="@ranipassos">
    <meta name="twitter:title" content="RP Concursos - Cursos Online para Concursos Públicos">
    <meta name="twitter:description" content="Mais de 40 mil alunos aprovados. Maior referência nacional em Informática e TI. Metodologia focada em desempenho real, estratégia e aprovação.">
    <meta name="twitter:image" content="https://www.ranipassos.com.br/site/assets/professores/ranipassos/img/twitter-card.jpg">
    <meta name="twitter:image:alt" content="RP Concursos - Cursos Online para Concursos Públicos">
    <!-- Canonical URL -->
    <link rel="canonical" href="https://www.ranipassos.com.br">
    <!-- Schema.org Structured Data -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "EducationalOrganization",
        "name": "RP Concursos",
        "alternateName": "Rani Passos Concursos",
        "url": "https://www.ranipassos.com.br",
        "logo": "https://www.ranipassos.com.br/site/assets/professores/ranipassos/img/logo-rp.png",
        "description": "Cursos online preparatórios para concursos públicos. Mais de 40 mil alunos aprovados. Maior referência nacional em Informática e Tecnologia da Informação. Metodologia focada em desempenho real, estratégia e aprovação.",
        "foundingDate": "2013",
        "address": {
          "@type": "PostalAddress",
          "addressCountry": "BR",
          "addressLocality": "Brasil"
        },
        "contactPoint": {
          "@type": "ContactPoint",
          "contactType": "customer service",
          "email": "contato@ranipassos.com.br"
        },
        "sameAs": [
          "https://www.facebook.com/ranifpassos",
          "https://www.instagram.com/ranifpassos",
          "https://www.youtube.com/ranipassos"
        ],
        "founder": {
          "@type": "Person",
          "name": "Rani Passos",
          "jobTitle": "Professor"
        },
        "mission": "Oferecer educação de alta qualidade com preço justo, aliados a um sistema inovador e transformador de estudo.",
        "knowsAbout": [
          "Concursos Públicos",
          "Informática para Concursos",
          "Tecnologia da Informação",
          "Preparação para Concursos",
          "Mentorias para Concursos"
        ]
      }
    </script>
    <!-- Additional Meta Tags -->
    <meta name="theme-color" content="#007BFF">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="RP Concursos">
    <meta name="application-name" content="RP Concursos">
    <meta name="msapplication-TileColor" content="#007BFF">
    <meta name="format-detection" content="telephone=no">
    <!-- Preconnect for Performance -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Fonts and icons -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- CSS Files -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <link rel="shortcut icon" href="/site/assets/professores/<%= @site %>/img/favicon.ico">
    <link rel="stylesheet" href="/site/assets/css/app.css">
    <link rel="stylesheet" href="/site/assets/css/whatsapp-chat.css">
    <link rel="preload" href="/site/assets/css/bootstrap/bootstrap.min.css" as="style">
    <link rel="preload" href="/site/assets/fonts/imports.css" as="style">
    <link rel="stylesheet" href="/site/assets/professores/<%= @site %>/css/app.css">
    <link rel="preload" href="/site/assets/professores/<%= @site %>/css/custom/custom.css" as="style">
    <link rel="stylesheet" href="/site/assets/professores/<%= @site %>/css/custom/sweetalert2.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <!-- JS Files -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <!-- Google Tag Manager -->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
          })(window,document,'script','dataLayer','GTM-WPKXSN5');
    </script>
    <!-- End Google Tag Manager -->
    <%= render "layouts/site/professores/#{@site}/scripts" %>
    <% if params[:action] == "thanks" %>
      <!-- Pixel X App - START -->
      <script type='text/javascript'>
        !function(){var e=window.location.href,t=document.title,n=Date.now(),o=document.createElement('script');o.src='https://pxa.ranipassos.com.br/remote?url='+encodeURIComponent(e)+'&title='+encodeURIComponent(t)+'&time='+n,o.async=!0,document.head.appendChild(o)}()
      </script>
      <!-- Pixel X App - END -->
    <% end %>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WPKXSN5"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <%= yield %>
    <%= render "shared/exit_intent_modal" %>
  </body>
</html>